/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .invisible {
   display: none;
 }

.list-item-note {
  display: inline-block;
  text-align: center;
  color: #111;
  margin: 3px;
  font-family: 'Permanent Marker', cursive;*/
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 20%;
}

.post-it-line {
  color: #333;
  padding: 3px;
}
.list-item-note-1 {
  width: 20%;
}

.list-item-note-2 {
  width: 15%;
}

.list-item-note-3 {
  width: 25%;
}

.list-item-yellow {
  background-color: #f3ff70;
}

.list-item-blue {
  background-color: #80f2fc;
}

.list-item-pink {
  background-color: #ff99d1;
}

.note-grid {

}

.note-grid:after {
  content: '';
  display: block;
  clear: both;
}

html {
  background-color: #111;
  color: #ccc;
}

h1 {
  text-align: center;
  /*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;*/
  font-family: 'Rock Salt', cursive;
/*font-family: 'Walter Turncoat', cursive;*/
}
