/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .invisible {
   display: none;
 }

.list-item-note {
  display: inline-block;
}

.list-item-note-1 {
  height: 100px;
  width: 100px;
}

.list-item-note-2 {
  height: 80px;
  width: 80px;
}

.list-item-note-3 {
  height: 120px;
  width: 120px;
}

.list-item-note-yellow {
  background-color: #f3ff70;
}

.list-item-note-blue {
  background-color: #80f2fc;
}

.list-item-note-pink {
  background-color: #ff99d1;
}

.note-grid {

}

html {
  background-color: #111;
  color: #ccc;
}

h1 {
  text-align: center;
  /*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;*/
  font-family: 'Rock Salt', cursive;
/*font-family: 'Walter Turncoat', cursive;*/
}
