/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .invisible {
   display: none;
 }

.list-item-note {
  display: inline-block;
  text-align: center;
  color: #111;
  margin: 3px;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 20%;
  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}

.post-it-line {
  color: #222;
  padding: 3px;
}
.list-item-note-1 {
  width: 20%;
}

.list-item-note-2 {
  width: 15%;
}

.list-item-note-3 {
  width: 25%;
}

.list-item-yellow {
  background-color: #fff66a;
}

.list-item-blue {
  background-color: #78d8ff;
}

.list-item-pink {
  background-color: #ff99d1;
}

.list-item-green {
  background-color: #6dff8e;
}

.list-item-orange {
  background-color: #ffb86d;
}

.note-grid {

}

.note-grid:after {
  content: '';
  display: block;
  clear: both;
}

.add-modal-background {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
}

.add-note-modal {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 80%;
  width: 80%;
  position: fixed;
  right: 10%;
  bottom: 10%;
  background-color: black;

}

.add-modal-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

button {
  display: flex;
  background-color: #fff66a;
  size: 24px;
  border-radius: 0px;
  border: 3px solid #fff66a;
  font-family: 'Rock Salt', cursive;

}

button:hover {
  border: 3px solid #fff66a;
  background: transparent;
  cursor: pointer;
}

textarea:focus {
  border: none;
}

textarea {
  resize: none;
}
.note-content-input {
  display: flex;
  flex-grow: 5;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: large;
  padding-top: 16px;
  background-color: #fff66a;
  color: black;
  width: 70%;
  height: 50%;
  margin-left: 15%;
  margin-right: 15%;
}

.save-button {
  align-self: center;
  margin: 10px 0px 10px 0px;
  width: 150px;
  padding-left: 41px;
}

textarea:active {
  border: none;
}

html {
  background-color: #111;
  color: #ccc;
}

h1, h4 {
  text-align: center;
  /*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;*/
  font-family: 'Rock Salt', cursive;
/*font-family: 'Walter Turncoat', cursive;*/
}

.short-show-tag-list {
  display: flex;
}

.short-show-tag-item {
  position: relative;
  margin: 0 2px 0 2px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: 21px;
  border-radius: 0 5px 5px 0;
  padding: 0 5px 0 5px;
  background: transparent;
  border: 1px solid #C7D2D4;
  color:#999;
  font-size: 14px;
}

.short-show-tag-item:before {
   position:absolute;
   background:#E8EDF0;
   content:"\25CF";
   color:white;
   text-shadow: 0 0 1px #aaa;
   font-size:12px;
   line-height:13px;
   text-indent:6px;
   top:3px;
   left:-10px;
   width: 18px;
   height: 18px;
   transform: rotate(45deg);
   border-left:1px solid #C7D2D4;
   border-bottom:1px solid #C7D2D4;
}

/*.short-show-tag-item:after {
  position:absolute;
  right:0;
  margin:1px 7px;
  font-weight:bold;
  font-size:19px;
  content:"\00D7";
}*/
